<%- include("../partials/header.ejs") %>


<h2 class="post-text">Global Chat</h2>

<ul id="chat-window"></ul>


<form id="message-form" action="">
	<input type="text" name="message" id="message" autocomplete="off" />
	<button>Send</button>
</form>

<script>
	chatUser = "<%= username %>"
</script>

<script src="/chatClients/globalChat.js"></script>

<%- include("../partials/footer.ejs") %>
