<%- include("../partials/header.ejs") %>

<h2> <%= message %></h2>
<h2>Enter Username and Password</h2>
<form method="POST" action="/auth/login">
	<fieldset>
		<div>
			<label for="username">Username:</label>
			<input type="text" name="username" id="username" />
		</div>
		<div>
			<label for="password">Password:</label>
			<input type="password" name="password" id="password">
		</div>
	</fieldset>
	<button>Log In</button>
</form>
<div>
	<p>Not a member already?</p>
	<a href="/auth/register">Sign up</a>
</div>


<%- include("../partials/footer.ejs")%>