<%- include("../partials/header.ejs") %>

<div class='auth'>
  
<h2>Register an Account</h2>

<h3><%= message %></h3>

<form action="/auth/register" method="post">
  <table class='auth-table'>
    <tr>
      <td>
      <label for="username">Username: </label>
        
      </td>
      <td>
      <input type="text" name="username" id="username" placeholder="Username">
        
      </td>
    </tr>
    <tr>
      <td>
      <label for="password">Password: </label>
        
      </td>
      <td>
      <input type="password" name="password" id="password" placeholder="Password">
        
      </td>
    </tr>
    <tr>
      <td>
      <label for="verifyPassword">Verify Password: </label>
        
      </td>
      <td>
      <input type="password" name="verifyPassword" id="verifyPassword" placeholder="Re-enter Password">
        
      </td>
    </tr>
    <tr>
      <td>
      <label for="friendCode">Switch Friend Code: </label>
      </td>
      <td>
      <input type="text" name="friendCode" id="friendCode" placeholder="Friend Code">
      </td>
    </tr>
    <tr>
      <td>
      <label for="location">Location (optional): </label>
        
      </td>
      <td>
      <input type="text" name="location" id="location" placeholder="Location">
        
      </td>
    </tr>
  </table>
  <button class='auth-button'>Register Account</button>
</form>

</div>

<%- include("../partials/footer.ejs") %>
