<%- include("../partials/header.ejs") %>
<h2>New Item Form</h2>

<h3><%= message %></h3>

<form method=POST action="/market/new">
	<table class='market'>
		<tr class="row">
			<td class="col-sm">
				<label for="name">Item Name: </label>
			</td>
			<td class="col-sm">
				<input type="text" name="name" id="name">
			</td>
		</tr>
		<tr class="row">
			<td class="col-sm">
				<label for="price">Price: </label>
			</td>
			<td class="col-sm">
      			<input type="number" name="price" id="price">
			</td>
		</tr>
		<tr class="row">
			<td class="col-sm">
				<label for="hot">Hot Item?</label>
			</td>
			<td class="col-sm">
				<input type="checkbox" name="hot" id="hot">
			</td>
		</tr>
	</table>
	
	<button>Add Item</button>
</form>



<%- include("../partials/footer.ejs") %>
