body {
  background: url(https://wallpaperaccess.com/full/1236351.jpg);
  font-family: "Acme", sans-serif;
  color: #93301b;
}

a {
  color: green;
}

a:hover {
  text-decoration: underline;
}

header {
  text-align: center;
}

h1 {
  font-family: "Fredoka One", cursive;
}

nav {
  background-color: #a5601b;
  font-family: "Acme", sans-serif;
  padding: 3px;
}

nav a {
  color: gold;
  font-size: 1.3em;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav.auth {
  background-color: rgba(255, 0, 0, 0);
  text-align: right;
}

nav.auth a {
  color: gold;
}

footer {
  text-align: center;
  min-height: 15vh;
}

div.container {
  padding: 1% 10%;
  min-height: 60vh;
}

div.auth {
  text-align: center;
}
table.auth-table {
  margin: 0 auto;
}
button.auth-button {
  margin-top: 5px;
}
/*User show */
div.usershow {
  display: flex;
  flex-flow: row wrap;
}
div.profile {
  text-align: center;
  margin: 2%;
  margin-right: 8%;
  width: 25%;
}
div.profile div.card {
  border: none;
  background-color: #5bd6ba;
}
div.status {
  margin: 2%;
  width: 60%;
  padding-top: 10%;
}
div.friend {
  width: 30%;
  margin: 2%;
}
div.post {
  border: 2px solid black;
  width: 60%;
  margin: 2%;
}
div.island-snapshot {
  border: 2px solid black;
  width: 90%;
  margin: 2%;
}
img.profile-pic {
  width: 100%;
}

/* rate-picture */
div.rate-picture div.card {
  margin-bottom: 15px;
  background-color: #f5c07b;
}

div.rate-picture div.card img.card-img-top {
  height: 100%;
}

/* item-for-sale */
div#market-index {
  display: flex;
}
div#items {
  width: 45%;
  margin-right: 5%;
}
div#items div.list-group div.list-group-item {
  background-color: #a5601b;
  display: flex;
  justify-content: space-around;
  color: gold;
  border-radius: 10px;
}

div.item-for-sale a {
  text-decoration: none;
  color: gold;
}

div.item-for-sale a:hover {
  text-decorate: underline;
}

div#turnip {
  width: 45%;
  padding: auto 5px;
}
table#turnip {
  width: 100%;
}


div#user-index div.list-group a.list-group-item {
  background-color: #f5c07b;
}
div#user-index div.list-group a.list-group-item img {
  width: 30px;
  margin-right: 5px;
}
ul#chat-window {
  list-style: none;
  width: 80%;
  height: 400px;
  background-color: #f5c07b;
  border: 5px double #a5601b;
  border-radius: 5px;
  color: #a5601b;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
}

h2 {
  text-align: center;
}

h4.message {
  text-align: center;
}

div.status {
  background-color: #f5c07b;
  color: #a5601b;
  border: 5px double #a5601b;
  border-radius: 5px;
  padding: 10px;
}

textarea.comment-box {
  width: 100%;
}
div.post-content div.list-group a.list-group-item {
  background-color: #f5c07b;
  color: #a5601b;
}
div.post-content div.list-group a.list-group-item img {
  width: 100px;
  margin-right: 5px;
}

div.post {
  background-color: #f5c07b;
  color: #a5601b;
}

div.post p {
  padding: 5px;
  text-align: center;
  margin-top: 10px;
}

div.island-snapshot {
  background-color: #f5c07b;
  color: #a5601b;
}

div.island-snapshot div.card {
  background-color: #f5c07b;
  color: #a5601b;
}
div.friend div.list-group a.list-group-item img {
  width: 30px;
  margin-right: 5px;
}

div.friend div.list-group a.list-group-item {
  background-color: #f5c07b;
  color: #a5601b;
}

div.friend {
  background-color: #f5c07b;
  color: #a5601b;
}

div.message-box {
  text-align: center;
  width: 75%;
  background-color: #a5601b;
  color: gold;
  border: 5px double gold;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
  margin: 10px auto;
}

#nook-leaf {
  width: 4rem;
}

#nookbook:hover {
  text-decoration: none;
  color: black;
}
#bottom-bar {
  display: flex;
  flex-direction: column;
}

#bottom-bar nav {
  border-radius: 5px;
}

.mini-chat {
  background-color: #f5c07b;
  border: 5px double #a5601b;
  border-radius: 5px;
  color: #a5601b;
  height: 50px;
  width: 250px;
  list-style: none;
}

#bottom-box {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#home-picture {
  width: 100%;
  border-radius: 25px;
}

#nookbook-logo {
  color: gold;
  font-size: 4rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: green;
}

#home-text {
  color: green;
}

#sign-up-now {
  text-align: center;
  padding-top: 25px;
  color: green;
}

.sell-item {
  display: flex;
}

#sell-item {
  justify-content: center;
  padding: 5px 8px;
  margin: 10px auto;
  border-radius: 25px;
  background-color: gold;
}

header {
  background-color: rgba(11, 102, 35, 0.5);
}

.pictures-index {
  text-align: center;
  font-size: 1.5rem;
}

.post-text {
  background-color: gold;
  border: 1px solid green;
}

#post-picture {
  display: block;
  margin: 15px auto;
  border-radius: 25px;
}

.search {
  text-align: center;
  color: green;
}

.find {
  color: green;
  text-align: center;
}
