body {
  background-color: #5bd6ba;
  font-family: "Acme", sans-serif;
}

header {
  text-align: center;
  min-height: 20vh
}

h1 {
  font-family: "Fredoka One", cursive;
}

nav {
  background-color: #a5601b;
  font-family: "Acme", sans-serif;
  padding: 3px;
}

nav a {
  color: gold;
  font-size: 1.3em;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav.auth {
  background-color: #5bd6ba;
  text-align: right;
}

nav.auth a{
  color: black;
}

footer {
  text-align: center;
  min-height: 15vh;
}

div.container {
  padding: 0 10%;
  min-height: 60vh;
}


div.usershow {
  display: flex;
  flex-flow: row wrap;
}
div.profile {
  border: 2px solid black;
  margin: 2%;
  width: 30%;
}
div.status {
  border: 2px solid black;
  margin: 2%;
  width: 60%;
}
div.friend {
  border: 2px solid black;
  width: 30%;
  margin: 2%;
}
div.post {
  border: 2px solid black;
  width: 60%;
  margin: 2%;
}
div.island-snapshot {
  border: 2px solid black;
  width: 90%;
  margin: 2%;
}

img.profile-pic {
  width: 100%;
}

div.item-for-sale {
  background-color: #a5601b;
  color: gold;
  padding: 5px;
  border-radius: 10px;
}

div.item-for-sale a {
  text-decoration: none;
  color: gold;
}

div.item-for-sale a:hover {
  text-decorate: underline;
}