<%- include("../partials/header.ejs") %>

<h2>Update My Profile</h2>

<table class="auth-table">
  <tr>
    <td>
      <a href="/island/<%= userToEdit.island._id %>/update">Update My Island</a> &nbsp |
    </td>
    <td>
      <a href="/auth/edit">Change Username or Password</a>
    </td>
  </tr>
  <form action="/user/edit?_method=put" method="post">
    <tr>
      <td>
        <label for="friendCode">Switch Friend Code: </label>
      </td>
      <td>
        <input type="text" name="friendCode" id="friendCode" placeholder="Friend Code">
      </td>
    </tr>
    <tr>
      <td>
        <label for="location">Location (optional): </label>
      </td>
      <td>
        <input type="text" name="location" id="location" placeholder="Location">
      </td>
    </tr>
    <tr>
      <td>
        <button>Edit Account</button>
      </td>
    </tr>
  </form>
  <form method=POST action="/user?_method=DELETE">
    <tr>
      <td>
        <button>Delete Account</button>
      </td>
    </tr>
  </form>
</table>

<%- include("../partials/footer.ejs")%>