<%- include("../partials/header.ejs") %>

<h3>Find a User:</h3>
<form>
	<label for="searchInfo">Find User:</label>
	<input type="search" name="searchInfo" id="searchInfo">
	<button>Search</button>
</form>

<%- include("../partials/footer.ejs") %>