<%- include("../partials/header.ejs") %>

<h2>List of Items</h2>

<ul>
    <% items.forEach((item) => { %>
        <li>
            <a href="/items/<%= item.id %>"><%= item.name %></a>
        </li>
    <% }) %>
</ul>

<%- include("../partials/footer.ejs")%>
