<%- include("../partials/header.ejs") %>

<h2>Update Your Island</h2>
<form>
	<fieldset>
		<div>
			<label for="turnipPrice">Current Turnip Price:</label>
			<input type="number" name="turnipPrice" id="turnipPrice" />
		</div>
	</fieldset>
</form>

<%- include("../partials/footer.ejs") %>